/* STYLE CHECKBOXES BY HIDING AND REPLACING WITH LABEL::BEFORE */
/* Hide checkbox inputs */
.pb .en__field__input--checkbox {
    display: none;
}
/* Position checkbox and label correctly */
.pb .en__field__element--checkbox .en__field__item {
    position: relative;
}
.pb .en__field--checkbox .en__field__label--item {
    padding-left: 38px;
}
/* Ensure mouse pointer changes to a hand on hover */
.pb .en__field--checkbox .en__field__label {
    cursor: pointer;
}
/* Add replacement tick box (square) */
.pb input[type=checkbox] + label::before {
    content: "";
    background-color: #fff;
    border: 3px solid #fff; /* inner white space */
    outline: 1px solid #aaa; /* outer border */
    border-radius: 1px;
    height: 1rem;
    width: 1rem;
    margin: 1px; /* to offset outline */
    display: block;
    position: absolute;
    left: 0;
    top: 6px; /* needed since default css adds 6px padding to .en__field__item */
    box-sizing: border-box;
}
.pb input[type=checkbox]:checked + label::before {
    /* inner square */
    background-color: #aaa;
    /* alternatively add an image */
    /*background-image: url("form_checkbox.png");
    background-position: center center;
    background-repeat: no-repeat;*/
}
