        /* PB PAGE STYLES */
        body.pb {
            font-size: 16px;
            line-height: 16px;
        }
        .pb .en__component--row--2 {
            justify-content: space-between;
        }
        .pb .en__component--row--2 .en__component--column {
            width: 48%;
            flex: 0 1 auto;
        }
        @media only screen and (max-width: 950px) {
          .pb .en__component--row--2 .en__component--column {
              width: 100%;
              margin-bottom: 1em;
          }
        }
        /* errors */
        .en__field__error {
            color: #aa0000;
        }
        /* labels */
        .pb .en__field__label{
            font-size: 14px;
            padding: 0 0 0.5em 0;
        }
        .pb .en__field > .en__field__label {
            display: block;
            width: 100%;
        }
        .pb .en__field:not(.en__mandatory) > label::after {
            content: " (optional)";
            color: #39b1c8;
        }
        .pb .en__mandatory > label::after,
        .pb .en__field--registrant--mandatory > label::after {
            content: " *";
            color: #39b1c8;
        }
        /* fields>elements>inputs */
        .pb .en__field__element {
            display: block;
            width: 100%;
        }
        .pb .en__field__input {
            border: 1px solid #d2d2d2;
        }
        .pb .en__field__input--select {
            min-width: 100px;
        }
        .pb .en__field__element--checkbox .en__field__item {
            width: 100%;
        }
        .pb .en__field__element--checkbox .en__field__item .en__field__input--checkbox {
            width: 13px;
            text-align: left;
            display: inline-block;
            padding: 0;
            margin: 0;
        }
        .pb .en__field__element--checkbox .en__field__item .en__field__label--item {
            width: calc(100% - 20px);
            display: inline-block;
        }
        /* buttons */
        .pb .en__submit button {
            background-color: #30b3ca;
            border-radius: 25px;
            padding: 13px 29px;
            color: #fff;
            text-transform: uppercase;
            border: 0;
            font-size: 18px;
            -webkit-transition: all .2s;
            -o-transition: all .2s;
            transition: all .2s;
        }
        .pb .en__submit button:hover {
            background-color: rgba(48,179,202,0.5);
        }
