<!-- Hide or show an alert below the opt-in if the supporter chooses N. The text block should have a class of optOutMessage for this to work, with this code below the opt-in. Also this needs to be changed so it doesn't need !important - work in progress! -->
<style>
    .en__component--formblock:has(.en__field--question input[value="N"]:checked) + .en__component--copyblock.optOutMessage {
    	display: block;
    }

    .optOutMessage {
        display: none;
        background-color: red!important;
        color: white;
        border-radius:5px;
        padding: 20px 10px;
        text-align: center;
    }
    
    @media screen and (min-width: 900px) {
    [data-engrid-theme=flex2][data-engrid-layout=centercenter2col] .en__component--row--2 .en__component--column--2 .optOutMessage {
        background-color: red!important;
    }
}
</style>
